body{
    text-align: center;
}

#title{
    font-size: 50px;
    margin-bottom: 100px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    color: white;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box, span{
    font-size: 30px;
    color: white;
    text-transform: uppercase;
}

.img__box, img{
    width: 300px;
    margin-bottom: 30px;
}

.img__box, p{
    color: white;
    text-transform: uppercase;
}